<!DOCTYPE html>
<html>

<head>
    <script src="angular-1.7.8/angular.min.js"></script>
    <script>
        var app = angular.module('myapp', [])
        app.controller('mCtrl', function ($scope) {
            $scope.book = ["book1", "book2", "book3"];

            $scope.adder = function () {
                if ($scope.book.indexOf($scope.bookName) !== -1) {
                    alert("Book already present in cart!");
                } else {
                    $scope.book.push($scope.bookName);
                }

            }
            $scope.sub = function (name) {
                $scope.book.splice($scope.book.indexOf(name))
            }

        })
    </script>

    <style>
        body {
            text-align: center;
        }


        table,
        tr,
        th,
        td {
            padding: 15px;
            font-size: 17px;
        }

        tr:nth-child(odd) {
            background-color: rgb(207, 206, 206);
        }

        .tab {
            display: inline-block;
            margin: 200px auto;
            text-align: center;
        }
    </style>
</head>

<body ng-app="myapp">
    <form ng-controller="mCtrl">
            <div class="tab">

        <table>
            <tr ng-repeat="bk in book">
                <td>{{bk}}</td>
                <td><button type="button" ng-click="sub(bk)">X</button></td>
            </tr>

        </table>
        <input type="text" ng-model="bookName">
        <button type="button" ng-click="adder()">Submit!</button>
    </div>
    </form>
</body>

</html>